OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4.1-mini
POWER_BI_REPORT_URL=https://app.powerbi.com/groups/me/reports/142efc4a-bb5c-43b5-8d54-297b41ab74d6/dc6b1f534010170e5201?experience=power-bi
POWER_BI_EMBED_URL=
